

.nav {
    position:relative;
    background-color: #ddd2ba;
    top: 0;
    left: 0;
    right: 0;
    transition: var(--main-transition);
    text-transform: uppercase;
  }
  
  .nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: var(--main-transition);
  }
  
  .nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
  }
  
  .nav a {
    position: relative;
    color: #304a5c;
    text-decoration: none;
    padding: 7px 15px;
    font-weight: 600;
    font-family:Renitah;

    transition: var(--main-transition);
  }
  
  .nav * {
    font-size: 19px;
    letter-spacing: 0.1rem;
  }
  
  
  .nav a:hover {
    background-color:#433821 ;
    color: #f9f9f5;
  }
  
  .nav a.current {
    font-weight: 600;
    color: #f9f9f5;
  }
  
  .nav a.current::before {
    content: "";
    width: 50%;
    height: 1px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
  }
  
  .nav.active {
    background-color: #F8ECD1;
    box-shadow: 0 2px 10px rgba(167, 77, 77, 0.932);
  }
  
  .nav.active a {
    color: #DEB6AB;
  }
  
  .nav.active a.current::before {
    opacity: 0;
  }
  
  .nav.active .container {
    padding: 20px 0;
  }